@page "/"

<PageTitle>Index</PageTitle>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<h1 style="color:purple;"><center>Welcome to To Do  app.</center></h1>
<img src="512x512bb.jpg" style="width:50%;">


@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
